.console {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  li {
    border-bottom: 1px solid #eee;
    padding: 0.2em 1em 0.2em 26px;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .warn, .error, .info, .log {
    background: 6px center no-repeat;
    background-size: 12px;
  }

  .warn {
    background-image: url("../imgs/warn.svg");
    background-color: #fffbe6;
    color: #5c3b00;
    border-color: #fff5c2;
  }

  .error {
    background-image: url("../imgs/error.svg");
    background-color: #fff0f0;
    color: #ff0000;
    border-color: #ffd7d7;
  }

  .input {
    background: url("../imgs/arrow-point-to-right-gray.svg") no-repeat 0.5rem 0.5rem ;
    background-size: 9px;
  }

  .output {
    background: url("../imgs/arrow-point-to-left.svg") no-repeat 0.5rem 0.5rem;
    background-size: 9px;
  }

  .info {
    background-image: url("../imgs/info.svg");
  }
}

.toobar {
  border-bottom: 1px solid #ccc;
  height: 1.5rem;
  line-height: 1.5rem;

  button {
    border: none;
    padding: 0 1rem;
    height: 1.5rem;
  }
}

.clear-btn {
  background: transparent url("../imgs/disabled.svg") center no-repeat;
  background-size: 14px;
}

.content {
  overflow: auto;
  position: absolute;
  top: 1.5rem;
  bottom: 4rem;
  width: 100%;
}

.area {
  resize: none;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 24px;
  height: 4rem;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("../imgs/arrow-point-to-right.svg") no-repeat 0.5rem 0.7rem;
  background-size: 9px;
}
